[Package]
version: 2
depends:
incremental: False

[Product]
type: localboot
id: dfn_publishorperish
name: Publish or Perish
description: Publish or Perish is a software program that retrieves and analyzes academic citations.
advice: 
version: 4.17.0
priority: 0
licenseRequired: False
productClasses:
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]

publishorperish (4.0.18-1) testing; urgency=low

  * Initial package

 -- Eric Esser <esser@wzb.eu>  Tue, 14 May 2013 14:16:26 +0000
